#name: akaunting
services:

  app:
    build:
      context: .
      dockerfile: Dockerfile
    platform: linux/amd64
#    container_name: app
    restart: unless-stopped
    tty: true
    environment:
      SERVICE_NAME: app
      SERVICE_TAGS: dev
    working_dir: /var/www
    user: www
    volumes:
      - ./:/var/www
      - ./php/local.ini:/usr/local/etc/php/conf.d/local.ini
    networks:
      - app-network

  webserver:
    image: nginx:alpine
    platform: linux/amd64
#    container_name: webserver
    restart: unless-stopped
    tty: true
    ports:
      - "6080:80"
    volumes:
      - ./:/var/www
      - ./nginx/conf.d/:/etc/nginx/conf.d/
    networks:
      - app-network

  db:
    image: mysql:8.4
    platform: linux/amd64
#    container_name: db
    restart: unless-stopped
    tty: true
    ports:
      - "63306:3306"
    environment:
      MYSQL_DATABASE: financeiro
      MYSQL_ROOT_PASSWORD: SenhaMy
      SERVICE_TAGS: dev
      SERVICE_NAME: mysql
    volumes:
      - dbdata:/var/lib/mysql/
      - ./mysql/my.cnf:/etc/mysql/my.cnf
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  dbdata:
    driver: local
