
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.text-no-wrap {
  white-space: nowrap;
}

#forecast_table {
  max-height: 400px;
  overflow: scroll;
}